<nav class="bottom-nav">
  <a class="bottom-nav__item <%= active === 'home' ? 'is-active' : '' %>" href="/home">
    <span class="bottom-nav__icon">🏠</span>
    <span class="bottom-nav__label">Home</span>
  </a>
  <a class="bottom-nav__item <%= active === 'menu' ? 'is-active' : '' %>" href="/menu">
    <span class="bottom-nav__icon">🍴</span>
    <span class="bottom-nav__label">Menu</span>
  </a>
  <a class="bottom-nav__item <%= active === 'cart' ? 'is-active' : '' %>" href="/cart">
    <span class="bottom-nav__icon">🛒</span>
    <span class="bottom-nav__label">Cart</span>
    <span class="bottom-nav__badge" id="cartBadge" style="display:none">0</span>
  </a>
  <a class="bottom-nav__item <%= active === 'orders' ? 'is-active' : '' %>" href="/orders">
    <span class="bottom-nav__icon">🧾</span>
    <span class="bottom-nav__label">Orders</span>
  </a>
</nav>

